<html>
  <head>
    <link rel="stylesheet" href="popup.css" />
  </head>
  <body>
    <form id="settings" class="settings">
      <div>
        <label for="enabled">
          <input type="checkbox" name="enabled" id="enabled"/>
          Enabled
        </label>
      </div>
      <hr>
      <div>
        <label for="genki-1">
          <input type="checkbox" name="genki-1" id="genki-1"/>
          Genki 1
        </label>
      </div>
      <div>
        <label for="genki-2">
          <input type="checkbox" name="genki-2" id="genki-2"/>
          Genki 2
        </label>
      </div>
      <div>
        <label for="genki-3">
          <input type="checkbox" name="genki-3" id="genki-3"/>
          Genki 3
        </label>
      </div>
      <div>
        <label for="genki-4">
          <input type="checkbox" name="genki-4" id="genki-4"/>
          Genki 4
        </label>
      </div>
      <div>
        <label for="genki-5">
          <input type="checkbox" name="genki-5" id="genki-5"/>
          Genki 5
        </label>
      </div>
      <div>
        <label for="genki-6">
          <input type="checkbox" name="genki-6" id="genki-6"/>
          Genki 6
        </label>
      </div>
      <div>
        <label for="genki-7">
          <input type="checkbox" name="genki-7" id="genki-7"/>
          Genki 7
        </label>
      </div>
      <div>
        <label for="genki-8">
          <input type="checkbox" name="genki-8" id="genki-8"/>
          Genki 8
        </label>
      </div>
      <div>
        <label for="genki-9">
          <input type="checkbox" name="genki-9" id="genki-9"/>
          Genki 9
        </label>
      </div>
      <div>
        <label for="genki-10">
          <input type="checkbox" name="genki-10" id="genki-10"/>
          Genki 10
        </label>
      </div>
      <div>
        <label for="genki-11">
          <input type="checkbox" name="genki-11" id="genki-11"/>
          Genki 11
        </label>
      </div>
      <div>
        <label for="genki-12">
          <input type="checkbox" name="genki-12" id="genki-12"/>
          Genki 12
        </label>
      </div>
    </form>
    <script src="popup.js"></script>
  </body>
</html>
